body {
    color: white;
    background: black;
    margin: 0px;
    font-family:"Times New Roman"; serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(0, 142, 207);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 155, 202);
}

.chamada {
    background: rgb(171, 241, 253) !important;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    min-height: 100px;
    border: 2px darkblue;
}
.video {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-right: 5%
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(0, 126, 175);
}

.categoria h2 {
    color: rgb(42, 138, 228);
}